*.iml
.gradle
.kotlin
app/build
/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetStudio.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
